// Alert box hiển thị giữa màn hình khi login
$nv-alert-colors: (
  "success": $success,
  "info": $info,
  "error": $danger
) !default;

// Chuyển key NukeViet quy định sẵn từ lâu về key tương ứng của Bootstrap
$nv-alert-mappings: (
  "success": "success",
  "info": "info",
  "error": "danger"
) !default;

$nv-alert-icons: (
  "success": url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='#{map-get($nv-alert-colors, 'success')}' viewBox='0 0 16 16'><path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/></svg>"),
  "info": url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='#{map-get($nv-alert-colors, 'info')}' viewBox='0 0 16 16'><path d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2'/></svg>"),
  "error": url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='#{map-get($nv-alert-colors, 'error')}' viewBox='0 0 16 16'><path d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2'/></svg>")
) !default;

.nv-info {
    --#{$prefix}alert-bg: transparent;
    --#{$prefix}alert-padding-x: #{$alert-padding-x};
    --#{$prefix}alert-padding-y: #{$alert-padding-y};
    --#{$prefix}alert-color: inherit;
    --#{$prefix}alert-border-color: transparent;
    --#{$prefix}alert-border: #{$alert-border-width} solid var(--#{$prefix}alert-border-color);
    --#{$prefix}alert-border-radius: #{$alert-border-radius};
    --#{$prefix}alert-link-color: inherit;

    position: relative;
    padding: var(--#{$prefix}alert-padding-y) var(--#{$prefix}alert-padding-x) var(--#{$prefix}alert-padding-y) 3.625rem;
    color: var(--#{$prefix}alert-color);
    background-color: var(--#{$prefix}alert-bg);
    border: var(--#{$prefix}alert-border);
    @include border-radius(var(--#{$prefix}alert-border-radius));

    @each $state in map-keys($nv-alert-colors) {
        &.#{$state} {
            --#{$prefix}alert-color: var(--#{$prefix}#{map-get($nv-alert-mappings, $state)}-text-emphasis);
            --#{$prefix}alert-bg: var(--#{$prefix}#{map-get($nv-alert-mappings, $state)}-bg-subtle);
            --#{$prefix}alert-border-color: var(--#{$prefix}#{map-get($nv-alert-mappings, $state)}-border-subtle);
            --#{$prefix}alert-link-color: var(--#{$prefix}#{map-get($nv-alert-mappings, $state)}-text-emphasis);

            &::before {
                background-image: #{escape-svg(#{map-get($nv-alert-icons, $state)})};
            }
        }
    }
}

.nv-info:before {
    display: block;
    content: '';
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
}

.nv-alert {
    position: fixed;
    top: 25%;
    right: 0;
    left: 0;
    width: 350px;
    max-width: calc(100vw - 1rem);
    margin: auto;
    z-index: 99999999999999;
    display: none;

    &.show {
        display: block;
    }

    &.nv-info {
        --#{$prefix}alert-padding-y: 1.75rem;
        box-shadow: var(--#{$prefix}box-shadow);
    }
}

@keyframes nv-loadbar-spinner {
    to { transform: rotate(360deg) #{"/* rtl:ignore */"}; }
}

.load-bar {
    --#{$prefix}spinner-width: var(--#{$prefix}body-font-size);
    --#{$prefix}spinner-height: var(--#{$prefix}body-font-size);
    --#{$prefix}spinner-vertical-align: middle;
    --#{$prefix}spinner-border-width: #{$spinner-border-width-sm};
    --#{$prefix}spinner-animation-speed: #{$spinner-animation-speed};
    --#{$prefix}spinner-animation-name: nv-loadbar-spinner;

    display: inline-block;
    width: var(--#{$prefix}spinner-width);
    height: var(--#{$prefix}spinner-height);
    vertical-align: var(--#{$prefix}spinner-vertical-align);
    border-radius: 50%;
    animation: var(--#{$prefix}spinner-animation-speed) linear infinite var(--#{$prefix}spinner-animation-name);
    margin-left: .25rem;
    border: var(--#{$prefix}spinner-border-width) solid currentcolor;
    border-right-color: transparent;
}
