.breadcrumb-wrap {
    height: $breadcrumb-height;
    background-color: var(--nv-breadcrumb-bg);
    border-bottom: $border-width $border-style var(--#{$prefix}border-color);
    transition: height .2s ease-in-out, border-bottom .2s ease-in-out;
    overflow: hidden;

    @media (max-width: #{$theme-breakpoint}) {
        height: 0;
        border-bottom: 0;
    }
}

@media (max-width: #{$theme-breakpoint}) {
    .open-breadcrumb {
        .breadcrumb-wrap {
            height: $breadcrumb-height;
            border-bottom: $border-width $border-style var(--#{$prefix}border-color);
        }
    }
}

.site-breadcrumb {
    overflow-x: hidden;

    .breadcrumb-item {
        white-space: nowrap;

        &.over {
            display: none;
        }
    }
}

.breadcrumb-popover {
    --#{$prefix}popover-body-padding-x: 0;
    --#{$prefix}popover-body-padding-y: 0;
    --#{$prefix}popover-arrow-width: 0;
    --#{$prefix}popover-arrow-height: 0;
    --#{$prefix}popover-font-size: var(--#{$prefix}body-font-size);

    .list-group {
        --#{$prefix}list-group-border-radius: calc(var(--#{$prefix}popover-border-radius) + 2 * #{$popover-border-width});
    }

    .list-group-item {
        border-left: 0;
        border-right: 0;

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}
