// Thông báo thu thập cookie
.cookie-notice {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 22rem;

    @include responsive() {
        max-width: calc(100vw - 2rem);
    }

    z-index: $zindex-cookie-notice;
    background-color: var(--bs-secondary-bg);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow);
    padding: 1rem;

    .btn-close {
        float: right;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }
}

// Thông báo phiên đăng nhập hết hạn
.timeoutsess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex-timeoutsess;
    display: none;
}
