@if $enable-grid-classes {
  .footer-top {
    @include media-breakpoint-up($theme-layout-breakpoint, $grid-breakpoints) {
      @each $key, $value in $footer-columns {
        .footer-#{$key} {
          flex: 0 0 auto;
          width: #{$value};
        }
      }
    }
  }
}

.site-footer {
  color: var(--nv-footer-color);

  a {
    color: var(--nv-footer-link-color);

    &:hover {
      color: var(--nv-footer-link-color-hover);
    }
  }
}

.footer-top {
  background-color: var(--nv-footer-bg);
}

.footer-bar {
  background-color: var(--nv-footer-emphasis);
}
