%header-link-color {
  color: var(--nv-header-link-color);
  transition: color .15s ease-in-out;
}

%header-link-color-hover {
  color: rgba(var(--#{$prefix}link-color-rgb), var(--#{$prefix}link-opacity, 1))
}

.site-header {
  .mobile-search {
    display: none;

    @include media-breakpoint-down($theme-layout-breakpoint) {
      display: block;
      order: 2;

      [type="submit"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .5rem;
        border: 0;
        background-color: transparent;
        color: var(--#{$prefix}body-color);
      }

      .form-control {
        padding-right: 2.25rem;

        &.is-invalid {
          background-image: none;

          ~ [type="submit"] {
            color: var(--#{$prefix}danger);
          }
        }
      }
    }
  }

  @include media-breakpoint-down($theme-layout-breakpoint) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: $zindex-sitenav;
    width: $offcanvas-horizontal-width;
    max-width: 90vw;
    background-color: $offcanvas-bg-color;
    visibility: hidden;
    background-clip: padding-box;
    outline: 0;
    transition: #{transform $offcanvas-transition-duration ease-in-out};
    transform: translateX(-100%);
    overflow-y: auto;

    &.showing,
    &.show:not(.hiding) {
      transform: none;
    }

    &.showing,
    &.hiding,
    &.show {
      visibility: visible;
    }
  }
}

@include media-breakpoint-down($theme-layout-breakpoint) {
  .site-header-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-sitenav-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: $offcanvas-backdrop-bg;

    &.fade {
      opacity: 0;
    }
    &.show {
      opacity: $offcanvas-backdrop-opacity;
    }
  }

  .site-header-contents {
    display: flex;
    flex-direction: column;
    padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;
  }
}

.site-header-mobile {
  @include media-breakpoint-up($theme-layout-breakpoint) {
    display: none;
  }

  .logo {
    img {
      min-height: 60px;
      width: auto;
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }

  .toggle-main-nav {
    @extend %header-link-color;

    &:hover,
    &.active {
      @extend %header-link-color-hover;
    }
  }
}

.logo-banner {
  @include media-breakpoint-down($theme-layout-breakpoint) {
    order: 1;
  }

  .logo {
    img {
      min-height: 80px;
      width: auto;
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }
}

.topbar {
  @include media-breakpoint-down($theme-layout-breakpoint) {
    order: 4;

    .start-topbar {
      order: 2;
    }

    .end-topbar {
      order: 1;
    }
  }
  @include media-breakpoint-up($theme-layout-breakpoint) {
    border-bottom: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);

    .start-topbar ul:not(.dropdown-menu)>li,
    .end-topbar ul:not(.dropdown-menu)>li,
    .topbar-inform {
      padding-top: calc(($header-height - $font-size-base * $line-height-base) / 2);
      padding-bottom: calc(($header-height - $font-size-base * $line-height-base) / 2);
    }
  }

  .topbar-search {
    @include media-breakpoint-down($theme-layout-breakpoint) {
      display: none
    }

    .search-icon {
      padding-top: calc(($header-height - $font-size-base * $line-height-base) / 2);
      padding-bottom: calc(($header-height - $font-size-base * $line-height-base) / 2);
      @extend %header-link-color;

      &:hover {
        @extend %header-link-color-hover;
      }
    }
  }

  .contact-icons {
    >li {
      @include media-breakpoint-up($theme-layout-breakpoint) {
        padding-left: .375rem;
        padding-right: .375rem;
      }

      &.digital-clock {
        border-right: 1px solid var(--#{$prefix}border-color);
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    @include media-breakpoint-down($theme-layout-breakpoint) {
      gap: .25rem;

      .digital-clock {
        display: none;
      }
    }

    a:not(.dropdown-item) {
      @extend %header-link-color;

      &:hover {
        @extend %header-link-color-hover;
      }
    }
  }

  .socal-icons {
    @include media-breakpoint-down($theme-layout-breakpoint) {
      font-size: $h1-font-size;
    }

    a {
      @extend %header-link-color;
      @include media-breakpoint-down($theme-layout-breakpoint) {
        color: var(--hover-color);
      }

      &:hover {
        color: var(--hover-color);
        @include media-breakpoint-down($theme-layout-breakpoint) {
          opacity: .75;
        }
      }
    }
  }
}

.contact-icons {
  @each $key, $value in $contact-icons-light {
    .icon-#{$key} {
      display: inline-block;
      font-variant: normal;
      line-height: 1;
      text-rendering: auto;
      background-image: var(--nv-contact-icon-#{$key}-bg);
      width: $font-size-base;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;

      &::before {
        content: "\00a0";
      }
    }
  }
}

.site-nav {
  @include media-breakpoint-up($theme-layout-breakpoint) {
    background-color: $primary;
  }

  @include media-breakpoint-down($theme-layout-breakpoint) {
    order: 3;
  }
}

.site-user-inform {
  .inform-toggle {
    position: relative;
    @extend %header-link-color;
    padding: calc(($header-height - $font-size-base * $line-height-base) / 2) .5rem;
    display: block;

    &:hover {
      @extend %header-link-color-hover;
    }

    .counter {
      position: absolute;
      right: 0;
      top: 2px;
      font-size: 0.625rem;
    }
  }
}

.site-user-button {
  .user-button {
    display: block;
    width: $header-avatar-size;
    height: $header-height;
    padding: calc(($header-height - $header-avatar-size) / 2) 0;

    .no-avatar {
      font-weight: $font-weight-medium;
      font-size: calc($header-avatar-size * .5);
    }

    img, svg {
      width: $header-avatar-size;
      height: $header-avatar-size;
      max-width: $header-avatar-size;
      max-height: $header-avatar-size;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
    }
  }
}
