%topbar-padding {
  padding-top: calc(($header-height - $font-size-base * $line-height-base) / 2);
  padding-bottom: calc(($header-height - $font-size-base * $line-height-base) / 2);
}

%topbar-link-color {
  color: var(--nv-topbar-link-color);
  transition: color .15s ease-in-out;
}

%topbar-link-color-hover {
  color: rgba(var(--#{$prefix}link-color-rgb), var(--#{$prefix}link-opacity, 1))
}

.site-header {
  .mobile-search {
    display: none;

    @include media-breakpoint-down($theme-layout-breakpoint) {
      display: block;
      order: 2;
    }
  }

  @include media-breakpoint-down($theme-layout-breakpoint) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: $zindex-sitenav;
    width: $offcanvas-horizontal-width;
    max-width: 90vw;
    background-color: $offcanvas-bg-color;
    visibility: hidden;
    background-clip: padding-box;
    outline: 0;
    transition: #{transform $offcanvas-transition-duration ease-in-out};
    transform: translateX(-100%);
    overflow-y: auto;

    &.showing,
    &.show:not(.hiding) {
      transform: none;
    }

    &.showing,
    &.hiding,
    &.show {
      visibility: visible;
    }
  }
}

@include media-breakpoint-down($theme-layout-breakpoint) {
  .site-header-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-sitenav-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: $offcanvas-backdrop-bg;

    &.fade {
      opacity: 0;
    }
    &.show {
      opacity: $offcanvas-backdrop-opacity;
    }
  }

  .site-header-contents {
    display: flex;
    flex-direction: column;
    padding: 0 $grid-gutter-width;
  }
}

.site-header-mobile {
  @include media-breakpoint-up($theme-layout-breakpoint) {
    display: none;
  }

  .logo {
    img {
      min-height: 60px;
      width: auto;
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }

  .toggle-main-nav {
    @extend %topbar-link-color;

    &:hover,
    &.active {
      @extend %topbar-link-color-hover;
    }
  }
}

.logo-banner {
  @include media-breakpoint-down($theme-layout-breakpoint) {
    order: 1;
  }

  .logo {
    img {
      min-height: 80px;
      width: auto;
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }
}

.topbar {
  @include media-breakpoint-down($theme-layout-breakpoint) {
    order: 4;
  }

  .start-topbar li,
  .end-topbar li,
  .topbar-inform {
    @extend %topbar-padding;
  }

  .topbar-search .search-icon {
    @extend %topbar-padding;
    @extend %topbar-link-color;

    &:hover {
      @extend %topbar-link-color-hover;
    }
  }

  .contact-icons {
    li {
      padding-left: .375rem;
      padding-right: .375rem;

      &.digital-clock {
        border-right: 1px solid var(--#{$prefix}border-color);
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    @include media-breakpoint-down($theme-layout-breakpoint) {
      .digital-clock {
        display: none;
      }
    }

    a {
      @extend %topbar-link-color;

      &:hover {
        @extend %topbar-link-color-hover;
      }
    }
  }

  .socal-icons a {
    @extend %topbar-link-color;

    &:hover {
      color: var(--hover-color);
    }
  }
}

.contact-icons {
  @each $key, $value in $contact-icons-light {
    .icon-#{$key} {
      display: inline-block;
      font-variant: normal;
      line-height: 1;
      text-rendering: auto;
      background-image: var(--nv-contact-icon-#{$key}-bg);
      width: $font-size-base;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;

      &::before {
        content: "\00a0";
      }
    }
  }
}

.site-nav {
  @include media-breakpoint-up($theme-layout-breakpoint) {
    background-color: $primary;
  }

  @include media-breakpoint-down($theme-layout-breakpoint) {
    order: 3;
  }
}
