.site-user-inform {
  .inform-box {
    width: 21.875rem;

    .inform-header {
      padding-bottom: $dropdown-padding-y;
    }

    .inform-content {
      position: relative;
      max-height: calc(100vh - 150px);
      min-height: 100px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .inform-footer {
      padding-top: $dropdown-padding-y;

      a {
        border: 1px solid transparent;
        line-height: 1;
        transition: border-color .15s ease-in-out;
        padding: .25rem .5rem;

        &:hover {
          border: 1px solid var(--#{$prefix}border-color);
        }
      }
    }
  }
}

.inform-items {
  .item {
    .avatar {
      float: left;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: .5rem;
      margin-top: .25rem;
      background-color: $primary;
      color: color-contrast($primary);
      font-size: $font-size-lg;
      line-height: 1;
      text-align: center;
      border-radius: 50%;
    }

    .message {
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }

    .foot {
      .btn {
        width: 1.875rem;
        height: 1.875rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
    }
  }
}
