.site-nav {
  background-color: $primary;
}

%lev1-padding {
  padding-top: calc(($main-nav-height - $line-height-base * $font-size-base) / 2);
  padding-bottom: calc(($main-nav-height - $line-height-base * $font-size-base) / 2);
}

.main-nav {
  position: relative;
  overflow: hidden;

  .nav-expanded {
    visibility: hidden;
  }

  &.processed {
    overflow: visible;

    &.has-expanded {
      .nav-expanded {
        visibility: visible;
      }
    }

    &.no-expanded {
      .nav-expanded {
        display: none;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;

      &:hover {
        >ul {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .item-link {
      display: flex;
      align-items: center;
    }
  }

  >ul{
    display: flex;
    align-items: center;

    // Lev1 không được xuống dòng
    >li {
      padding-left: .8125rem;
      padding-right: .8125rem;

      &.active {
        background-color: tint-color($primary, 15%);
      }

      &:hover,
      &.active:hover {
        background-color: tint-color($primary, 20%);
      }

      >.menu-item {
        white-space: nowrap;
        color: color-contrast($primary);

        .item-link {
          color: color-contrast($primary);
        }

        .item-icon,
        .item-name,
        .item-arrow {
          @extend %lev1-padding;
        }
      }

      // Lev2 đổ xuống
      >ul {
        top: 100%;
        left: 0;

        &.submenu-end {
          left: auto;
          right: 0;
        }

        // Lev3 trở đi đổ sang phải (hoặc trái)
        >li ul {
          top: 0;
          left: 100%;

          &.submenu-end {
            left: auto;
            right: 100%;
          }
        }
      }
    }

    // CSS cho submenu nói chung
    ul {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out, visibility 0.15s ease-in-out;
      box-shadow: #{$dropdown-box-shadow};
      transform: translateY(-10px);
      background-color: $dropdown-bg;
      background-clip: padding-box;
      width: $main-nav-submenu-width;
      padding: $dropdown-padding-y $dropdown-padding-x;
      z-index: 1;

      li {
        .menu-item {
          padding-left: $dropdown-item-padding-x;
          justify-content: space-between;
          border-bottom: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);

          .item-link {
            color: $dropdown-link-color;
          }

          &:not(.has-submenu) {
            padding-right: $dropdown-item-padding-x;
          }

          .item-name {
            padding-top: $dropdown-item-padding-y;
            padding-bottom: $dropdown-item-padding-y;
            word-wrap: break-word;
            word-break: break-word;
          }

          .item-arrow {
            padding-right: $dropdown-item-padding-x;
            padding-left: .5rem;

            i {
              transform: rotate(-90deg);
            }
          }
        }

        &:last-child {
          .menu-item {
            border-bottom: 0;
          }
        }

        &:hover,
        &:focus {
          >.menu-item {
            background-color: $dropdown-link-hover-bg;

            .item-link,
            .item-arrow {
              color: $dropdown-link-hover-color;
            }
          }
        }

        &.active,
        &:active {
          >.menu-item {
            @include gradient-bg(#{$dropdown-link-active-bg});

            .item-link,
            .item-arrow {
              color: $dropdown-link-active-color;
            }
          }
        }
      }
    }
  }
}
