:root {
  --nv-footer-link-color: #{$footer-link-color};
  --nv-footer-link-color-hover: #{color-contrast($footer-bg)};
}

:root,
[data-#{$prefix}theme="light"] {
  --nv-header-link-color: #{$header-link-color};
  --nv-footer-bg: #{$footer-bg};
  --nv-footer-emphasis: #{$footer-bg-emphasis};
  --nv-footer-color: #{color-contrast($footer-bg)};

  --cr-md-header-font-size: #{$h5-font-size};
  --cr-cap-header-font-size: #{$h5-font-size};
  --cr-danger: #{$red};

  @each $key, $value in $contact-icons-light {
    --nv-contact-icon-#{$key}-bg: #{escape-svg($value)};
  }
}

@if $enable-dark-mode {
  [data-#{$prefix}theme="dark"] {
    --nv-header-link-color: #{$header-link-color-dark};
    --nv-footer-bg: #{$footer-bg-dark};
    --nv-footer-emphasis: #{$footer-bg-emphasis-dark};
    --nv-footer-color: #{color-contrast($footer-bg-dark)};

    @each $key, $value in $contact-icons-dark {
      --nv-contact-icon-#{$key}-bg: #{escape-svg($value)};
    }
  }
}

.cr-btn-primary {
  --cr-btn-color: #{color-contrast($primary)};
  --cr-btn-bg: #{$primary};
  --cr-btn-border-color: #{$primary};
  --cr-btn-hover-color: #{color-contrast(shade-color($primary, 15%))};
  --cr-btn-hover-bg: #{shade-color($primary, 15%)};
  --cr-btn-hover-border-color: #{shade-color($primary, 20%)};
  --cr-btn-active-color: #{color-contrast(shade-color($primary, 20%))};
  --cr-btn-active-bg: #{shade-color($primary, 20%)};
  --cr-btn-active-border-color: #{shade-color($primary, 25%)};
  --cr-btn-disabled-color: #{color-contrast($primary)};
  --cr-btn-disabled-bg: #{$primary};
  --cr-btn-disabled-border-color: #{$primary};
}
