:root {
  --nv-footer-link-color: #{$footer-link-color};
  --nv-footer-link-color-hover: #{color-contrast($footer-bg)};
}

:root,
[data-#{$prefix}theme="light"],
[data-theme="light"] {
  --nv-header-link-color: #{$header-link-color};
  --nv-footer-bg: #{$footer-bg};
  --nv-footer-emphasis: #{$footer-bg-emphasis};
  --nv-footer-color: #{color-contrast($footer-bg)};
  --nv-check-border-color: #{$form-check-input-border-color};

  --cr-md-header-font-size: #{$h5-font-size};
  --cr-cap-header-font-size: #{$h5-font-size};
  --cr-danger: #{$red};
  --cr-border-radius: #{$border-radius};
  --cr-input-border-radius: #{$border-radius};
  --cr-btn-border-radius: #{$border-radius};
  --cr-alert-zindex: #{$zindex-alert};
  --cr-alert-zindex-backdrop: #{$zindex-alert-backdrop};

  @each $key, $value in $contact-icons-light {
    --nv-contact-icon-#{$key}-bg: #{escape-svg($value)};
  }

  // Toast core
  @each $key, $value in $toast-levels {
    --cr-toast-#{$key}-bg: #{$value};
    --cr-toast-#{$key}-color: #{color-contrast($value)};
  }

  // Button core
  @each $key, $value in $core-btn-colors {
    --cr-btn-#{$key}-color: #{color-contrast($value)};
    --cr-btn-#{$key}-bg: #{$value};
    --cr-btn-#{$key}-border-color: #{map-get($core-btn-border-colors, $key)};
    --cr-btn-#{$key}-hover-color: #{color-contrast(shade-color($value, 15%))};
    --cr-btn-#{$key}-hover-bg: #{shade-color($value, 15%)};
    --cr-btn-#{$key}-hover-border-color: #{shade-color(map-get($core-btn-border-colors, $key), 20%)};
    --cr-btn-#{$key}-active-color: #{color-contrast(shade-color($value, 20%))};
    --cr-btn-#{$key}-active-bg: #{shade-color($value, 20%)};
    --cr-btn-#{$key}-active-border-color: #{shade-color(map-get($core-btn-border-colors, $key), 25%)};
    --cr-btn-#{$key}-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --cr-btn-#{$key}-disabled-color: #{color-contrast($value)};
    --cr-btn-#{$key}-disabled-bg: #{$value};
    --cr-btn-#{$key}-disabled-border-color: #{map-get($core-btn-border-colors, $key)};
  }
}

@if $enable-dark-mode {
  [data-#{$prefix}theme="dark"],
  [data-theme="dark"] {
    --nv-header-link-color: #{$header-link-color-dark};
    --nv-footer-bg: #{$footer-bg-dark};
    --nv-footer-emphasis: #{$footer-bg-emphasis-dark};
    --nv-footer-color: #{color-contrast($footer-bg-dark)};
    --nv-check-border-color: #{$form-check-input-border-color-dark};

    @each $key, $value in $contact-icons-dark {
      --nv-contact-icon-#{$key}-bg: #{escape-svg($value)};
    }

    // Button core dark
    @each $key, $value in $core-btn-colors {
      --cr-btn-#{$key}-color: #{color-contrast($value)};
      --cr-btn-#{$key}-bg: #{$value};
      --cr-btn-#{$key}-border-color: #{map-get($core-btn-border-colors, $key)};
      --cr-btn-#{$key}-hover-color: #{color-contrast(shade-color($value, 15%))};
      --cr-btn-#{$key}-hover-bg: #{shade-color($value, 15%)};
      --cr-btn-#{$key}-hover-border-color: #{shade-color(map-get($core-btn-border-colors, $key), 20%)};
      --cr-btn-#{$key}-active-color: #{color-contrast(shade-color($value, 20%))};
      --cr-btn-#{$key}-active-bg: #{shade-color($value, 20%)};
      --cr-btn-#{$key}-active-border-color: #{shade-color(map-get($core-btn-border-colors, $key), 25%)};
      --cr-btn-#{$key}-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --cr-btn-#{$key}-disabled-color: #{color-contrast($value)};
      --cr-btn-#{$key}-disabled-bg: #{$value};
      --cr-btn-#{$key}-disabled-border-color: #{map-get($core-btn-border-colors, $key)};
    }
  }
}
