:root,
[data-#{$prefix}theme="light"] {
  --nv-header-link-color: #{$header-link-color};

  @each $key, $value in $contact-icons-light {
    --nv-contact-icon-#{$key}-bg: #{escape-svg($value)};
  }
}

@if $enable-dark-mode {
  [data-#{$prefix}theme="dark"] {
    --nv-header-link-color: #{$header-link-color-dark};

    @each $key, $value in $contact-icons-dark {
      --nv-contact-icon-#{$key}-bg: #{escape-svg($value)};
    }
  }
}
