[data-#{$prefix}theme="light"] {
  --nv-topbar-link-color: #{$topbar-link-color};
}

:root,
[data-#{$prefix}theme="light"] {
  @each $key, $value in $contact-icons-light {
    --nv-contact-icon-#{$key}-bg: #{escape-svg($value)};
  }
}

@if $enable-dark-mode {
  [data-#{$prefix}theme="dark"] {
    @each $key, $value in $contact-icons-dark {
      --nv-contact-icon-#{$key}-bg: #{escape-svg($value)};
    }
  }
}
