// Fontawesome all
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

@import "../show_pass";
@import "../core/alert";

@import "../core/polyfill";

@import "root";
@import "common";
@import "header";
@import "main";
@import "main-nav";
@import "admin";
@import "blocks";
@import "footer";
@import "banners";

// Giữ ở cuối
@import "override";
